#weather-box {
  border: 4px solid white;
  border-radius: 10px;
  background-color: #b0dbf5;
  width: 250px;
  float: left;
  padding: 10px;
  margin: 15px;
  box-shadow: 10px 5px 10px 0.5px rgb(76, 76, 77);
}

#weather-box h2 {
  text-align: center;
}

#weather-box img {
  display: block;
  margin: 0 auto;
}
